.SkullAndSword {
  position: relative;
  display: block;

  padding-top: 7.7777vh;
  padding-bottom: 12.2222vh;
  padding-right: 4.4444vw;
  padding-left: 4.4444vw;

  background: #ad8851;
}

  .SkullAndSword-grime {
    display: block;

    background: green;
  }