.Navigation {
  position: relative;
  display: flex;
  justify-content: space-around;

  padding-top: 4.4444vh;
  padding-bottom: 4.4444vh;
  padding-right: 1.1111vw;
  padding-left: 1.1111vw;

  width: 100%;

  background: black;
  z-index: 9;

  @media (min-width: 700px) {
    justify-content: center;
  }
}

  .Navigation-link {
    position: relative;
    display: inline-block;

    margin-right: 4.4444vw;

    font-family: 'Futura';
    font-size: calc(11px + .145vw);
    line-height: normal;
    letter-spacing: .75px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fafafa;

    @media (max-width: 700px) {
      margin-right: 0;
    }

    &:focus,
    &:hover {
      color: grey;
    }

    &:active {
      transform: translateY(1px);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
















