@font-face {
  font-family: 'Futura';
  src: url('../fonts/FUTURA.woff2') format('woff2'),
       url('../fonts/FUTURA.woff') format('woff');
}

@font-face {
  font-family: 'Fraktur';
  src: url('../fonts/FRAKTUR.woff2') format('woff2'),
       url('../fonts/FRAKTUR.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}