body {
  font: 100%/1.5 monospace;
  font-weight: normal;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  overflow-x: hidden;
  background: black;
}

html,
body {
  width: 100%;
  height: 100%;
}